<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.wojciechkolendo.appcrashhandler">

	<application>
		<activity
			android:name=".ExceptionActivity"
			android:noHistory="true"
			android:process=":exception_activity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
	</application>

</manifest>
